.container {
  padding-top: 90px;
  height: calc(100vh - 90px);
}

.hero-container {
  .img-container {
    position: relative;
    width: 45%;
    img {
      filter: drop-shadow(4px 88px 85px black);

      /* filter: drop-shadow(30px 10px 4px #2f2f30a3); */
    }
    .circle {
      width: 450px;
      height: 450px;
      border-radius: 50%;
      background-color: var(--primary-cl);
    }
  }
  .info {
    width: 45%;
    gap: 40px;
    .text {
      font-size: 48px;
      font-weight: 600;
      font-family: "Tagesschrift", system-ui;
      color: var(--primary-cl);
    }
    .description {
      font-size: 18px;
      line-height: 26px;
    }
  }
}

/* section-2 */
.banner-container {
  height: 100vh;
}
.section2-container {
  width: 100%;
  height: 45vh;
  .img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info-section {
    background-color: #c0c0c0;
    padding: 24px 40px;
    .title {
      font-size: 32px;
      font-family: "Tagesschrift", system-ui;
      font-weight: 600;
      color: var(--primary-cl);
    }
  }
  .sub-title {
    font-size: 18px;
    line-height: 26px;
  }
}
/* section-3 */
.map-section {
  height: 90vh;
}
.map-container {
  .location-container {
    width: 45%;
    .location-section {
      flex-wrap: wrap;
      .location {
        min-width: 150px;
        i {
          color: var(--primary-cl);
        }
        i,
        span {
          font-size: 42px;
          font-weight: 700;
        }
      }
      .sub-text {
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
  .map-img {
    position: relative;
    .img-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-55px, -90px);

      .gradient-text {
        font-weight: 700;
        font-size: 45px;

        background: linear-gradient(
          180deg,
          hsla(4, 95%, 16%, 1) 18%,
          hsla(250, 14%, 61%, 1) 100%
        );

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        /* For Firefox */
        background-clip: text;
        color: transparent;
      }
    }
    width: 45%;
  }
}

/* section-4 */
.franchise-form-container {
  padding: 0 0 140px 0;
  position: relative;
  overflow: hidden;
  .beens-top,
  .beens-btm {
    img {
      scale: 1.5;
      height: 200px;
      width: 200px;
      rotate: 260deg;
    }
  }
  .beens-top {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 120px;
  }
  .beens-btm {
    position: absolute;
    bottom: 20px;
    left: 120px;
  }
}

.form-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 70vw;
  height: 80vh;
  border-radius: 20px;
  overflow: hidden;

  .img-section {
    img {
      height: 100%;
      width: 100%;
    }
  }
  .img-section,
  .form-section {
    height: 100%;
  }
  .form-section {
    background-color: #dbdbdb72;
  }
  .form-section {
    padding: 24px;

    form {
      label {
        font-size: 14px;
      }
      input {
        height: 40px;
      }
      input,
      textarea {
        border: 1px solid var(--primary-cl);
        outline: none;
        background-color: #ecebebb0;
        border-radius: 8px;
        padding: 8px;
      }
      textarea {
        resize: none;
        height: 200px;
      }
      button {
        width: 100%;
      }
    }
  }
}

/* section 5 */
.customer-reviews-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.carousel-track {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
  width: max-content;
}

.card {
  width: 400px; /* Adjust based on your design */
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stars {
  display: flex;
  gap: 8px;
  color: gold;
}

.customer-info {
  display: flex;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move by half the width of all cards */
  }
}

/* Pause animation on hover */
.customer-reviews-carousel:hover .carousel-track {
  animation-play-state: paused;
}
/* section - 6 */

.social-media-section {
  height: 100vh;
  .youtube-frame,
  .info {
    width: 45%;
  }
  .info {
    .title {
      font-size: 32px;
      color: var(--primary-cl);
      font-weight: 700;
    }
    .content {
      font-size: 18px;
      letter-spacing: 1.2px;
    }
  }
}

@media screen and (max-width: 960px) {
  .hero-container {
    .hero-section {
      justify-content: none;
      flex-direction: column;
      gap: 60px;
    }
    .info {
      order: 2;
      .text {
        font-size: 30px !important;
      }
      .description {
        font-size: 16px;
      }
    }
    .info,
    .img-container {
      width: 100%;
    }
    .img-container {
      .circle {
        width: 300px;
        height: 300px;
        img {
          width: 280px;
        }
      }
    }
  }

  /* section-2 */

  .section2-container {
    flex-direction: column;
  }

  /* map container */
  .map-container {
    flex-direction: column;
    align-items: center;
    .location-container {
      width: 100%;
      order: 2;
      .location-section {
        text-align: center;
        .location {
          width: 100%;
          justify-content: center;
          i {
            font-size: 20px !important;
          }
          .add-text {
            font-size: 22px !important;
          }
        }
        .sub-text {
          font-size: 16px;
        }
      }
    }

    .map-img {
      .img-text {
        width: 100%;
        top: 66%;
        left: 55%;
        .gradient-text {
          font-size: 24px;
        }
      }
      width: 330px;
      height: 330px;
    }
  }

  /* form */
  #form {
    .form-container {
      width: 90vw;
      flex-direction: column;
      height: 100%;
    }
    .beens-top {
      top: 83px;
      right: -13px;
    }
    .beens-btm {
      bottom: 60px;
      left: -36px;
    }
    .beens-top,
    .beens-btm {
      img {
        scale: 1.5;
        height: 120px;
        width: 120px;
        rotate: 260deg;
      }
    }
  }
  /* coustomer review */
  .customer-reviews-carousel {
    margin-bottom: 150px;
    .card {
      width: 300px !important;
    }
  }

  .social-media-section {
    margin: 45px 0;
    .section-frame {
      gap: 40px;
      flex-direction: column;
      align-items: center;
    }
    .info {
      width: 100%;
      .title {
        font-size: 22px;
      }
      .content {
        font-size: 16px;
      }
    }
  }
}
