    <nav class="wp-90 flex justify-content-space-between">
      <div class="logo">
        <a
          class="flex justify-content-center align-item-center gap-20"
          href="#"
          ><img src="/assets/Spice-Hub-Pdf-Logo.png" alt="logo" /><span
            >Spice Hub Restro Cafe</span
          ></a
        >
      </div>
      <div class="category flex gap-40 align-item-center">
        <a class="fs-14" href="#">ABOUT US</a>
        <a class="fs-14" href="#menu">MENU</a>
        <a class="fs-14" href="#">GALLERY</a>
        <a class="fs-14" href="#form">CONTACT US</a>
      </div>
      <div class="social-media-container flex align-item-center gap-20">
        <a
          href="https://www.instagram.com/spice_hub_restro_cafe/?hl=en"
          target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="#" target="_blank"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="#" target="_blank"><i class="fa-regular fa-envelope"></i></a>
      </div>
      <div class="hamburger-icon">
        <i class="fa-solid fa-bars"></i>
      </div>
    </nav>