nav {
  align-items: center;
  border-radius: 40px;
  padding: 10px 40px;
  max-width: 1800px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 9999;
}



/* * logo */
.logo span {
  font-size: 1.2rem;
}
.logo img {
  max-width: 50px;
  height: auto;
}

/* * logo */

/* * category*/
.category a {
  color: var(--secondory-cl);
  position: relative;
  padding: 10px;
}

/* *category hover */
.category a::before,
.category a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.category a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid var(--primary-cl);
  border-right: 3px solid var(--primary-cl);
  transform: translate(-100%, 50%);
}

.category a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--primary-cl);
  border-left: 3px solid var(--primary-cl);
  transform: translate(100%, -50%);
}

.category a:hover:before,
.category a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.category a:hover {
  color: var(--primary-cl);
}
/* * category*/
/* * social media query*/
.social-media-container a i {
  color: var(--secondory-cl);
}
.hamburger-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  nav {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    .category {
      display: none;
    }
    .logo {
      span {
        font-size: 0.8rem;
        font-weight: 600;
      }
      img {
        width: 32px;
      }
    }
  }
  .social-media-container {
    display: none !important;
  }
  .hamburger-icon {
    display: none;
    cursor: pointer;
  }

  .category,
  .social-media-container {
    display: none !important;
  }

  .hamburger-icon {
    display: inline-block;
  }

  .hamburger-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(240, 228, 228, 0.2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 16px 0 0 16px;
    z-index: 999;
    box-sizing: border-box;
    gap: 20px;
  }

  .hamburger-container .close {
    display: flex;
    justify-content: flex-end;
  }

  .hamburger-container .close i {
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-cl);
  }

  .category-sm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  .category-sm a {
    font-size: 14px;
    color: var(--primary-cl);
    text-decoration: none;
  }
}
:host .gap-20 {
  gap: 10px !important;
}
