<!-- footer -->
<footer class="flex justify-content-center">
  <div class="flex flex-direction-col wp-90 gap-40">
    <div class="footer-section flex gap-40">
      <div class="footer-logo flex align-item-center gap-20">
        <img src="./../../../public/assets/Spice-Hub-logo.png" alt="" />
        <div class="logo-text">Spice Hub Restro Cafe</div>
      </div>
      <div class="vertical-line"></div>
      <div class="address flex flex-direction-col gap-30">
        <span class="section-title">Location</span>

        <div class="flex gap-20">
          <i class="fa-solid fa-location-dot"></i>
          <span class="address-txt"
            >Near, Vaishnodevi Cir, near spice hub restro cafe, Ahmedabad,
            Gujarat 382481</span
          >
        </div>
      </div>

      <div class="vertical-line"></div>

      <div class="contact flex flex-direction-col gap-30">
        <span class="section-title">Contacts</span>
        <div class="flex flex-direction-col gap-20">
          <div class="row flex gap-20 align-item-center">
            <div class="circle flex justify-content-center align-item-center">
              <i class="fa-solid fa-phone"></i>
            </div>
            <a href="tel:+91 8866545121">+91 8866545121</a>
          </div>

          <div class="row flex gap-20 align-item-center">
            <div class="circle flex justify-content-center align-item-center">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <a href="mailto:spicehubrestrocafe@gmail.com"
              >spicehubrestrocafe@gmail.com</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="horizontal-line"></div>

    <div class="flex justify-content-space-between">
      
      <div>
        <a class="btm-logo flex gap-20 align-item-center" href="">
          <img class="logo-img" src="/public/assets/Spice-Hub-logo.png" />
          <span class="logo-name">Spice Hub Restro Cafe</span>
        </a>
      </div>

      <div class=" flex justify-content-center">
        <a class="terms-link" href="public/terms-condition.html">Terms & Condition</a>
      </div>

    </div>
  </div>
</footer>
