@import url("./styles/variable.css");
@import url("./../src/components/header/header.css");
@import url("./../src/components/footer/footer.css");
@import url("../public/terms-condition.css");
@import url("../public/menu.css");
@import url("./pages/home.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");
:root {
  --primary-cl: #4e0702;
  --primary-cl-dull: #4e07025c;
  --secondory-cl: #000;
  --transition: "all 0.3s ease-in-out";
}
* {
  scroll-behavior: smooth;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header {
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
}
a {
  text-decoration: none;
  color: #000;
}
.wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
/* * common styling */
/* * width-80% */
.wp-100 {
  width: 100%;
}
.wp-90 {
  width: 90%;
}
.wp-85 {
  width: 85%;
}
.hp-100 {
  height: 100%;
}
/* *font size */
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-32 {
  font-size: 32px;
}

/* * font weight */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
/* * flex */
.flex {
  display: flex;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}
.align-item-center {
  align-items: center;
}
.flex-direction-col {
  flex-direction: column;
}
.gap-8 {
  gap: 8px;
}
.gap-12 {
  gap: 12px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}
.gap-50 {
  gap: 50px;
}
.text-center {
  text-align: center;
}

.primary-btn {
  background-color: transparent;
  border: 1px solid var(--primary-cl);
  color: var(--primary-cl);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  width: fit-content;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: var(--primary-cl);
    color: #fff;
    cursor: pointer;
  }
}
.vertical-line {
  height: 100%;
  width: 1px;
  background-color: var(--primary-cl);
}
.horizontal-line{
  height: 0.5px;
  width: 100%;
  background-color: var(--primary-cl);
}
a{
  text-decoration: none;
  color: var(--primary-cl);
}